html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    text-align: center;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
 /**Links*/
a{
    color:seashell; 
}

a :hover{
    color: black;
}
a :active{
    color: black;
}
a :visited{
    color: seashell;
} 

/*Header*/
header { 
    height: 69px;
    width:100%;
    margin:auto;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed; 
    
}
#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    max-height: 50px;
    width: auto;
  
}

/*Navigation bar*/
.navbar {
    overflow: hidden;
    background-color: black;
}
nav{
    position:right top;
    color: seashell;
    list-style-type:none;
    text-align: center;
}

 nav ul {
    float: right;
    margin: 0;
 }
nav li{ 
    display: inline;
    padding: 10px;
}

.navbar a:hover {

  background: #ddd;
  color: black;
}



/*mission*/
.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: auto;
    background-image: url("/assets/images/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#statement {
    width: 100%;
    max-height: 700px;
    display: block;
    background-color: black;
    color: white;
    text-align: center;
}
/*TOTM Grid*/
.totm {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}
.totm-title h2, .totm-title p {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.totm-title p {
    margin-top: 20px;
}

.product-card {
    display: inline-block;
    max-width:fit-content;
    padding: 10px;
}

.product-img {
    width: 300px;
    height: 200px;
}

.product-title {
    text-align: center;
    margin-top: 10px;
}
/*Locations Grid*/
.locations {
    text-align: center;
    padding: 20px;
}

.locationbox {
    margin: 20px;
}

/*Footer*/
/*Footer text*/
