html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;
    text-align: center;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
 /**Links*/
a{
    color:seashell; 
}

a :hover{
    color: black;
}
a :active{
    color: black;
}
a :visited{
    color: seashell;
} 

/*Header*/
header { 
    height: 69px;
    width:100%;
    margin:auto;
    background-color: black;
    border-bottom: 1px solid seashell;
    position: fixed; 
    
}
#logo {
  margin:10px;
  height: 50px;
  width: auto;
  float:left;
}

/*Navigation bar*/
.navbar {
    overflow: hidden;
    background-color: black;
}
nav{
    position:right top;
    color: seashell;
    list-style-type:none;
    text-align: center;
}

 nav ul {
    float: right;
    margin: 0;
  padding: 0;

 }
nav li{ 
    display: inline;
}

.navbar a:hover {

  background: #ddd;
  color: black;
}



/*mission*/
 .mission div {
    height:700px; 
    width: auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1acstie*_ga*NjU1MDI1MTkuMTY1Mjc5MTI2NA..*_ga_3LRZM6TM9L*MTY2NDE4NDE3MS4xMzQuMS4xNjY0MTg1Mjc4LjUzLjAuMA..");
    background-repeat: no-repeat; background-position: center;
    }
#statement{
     width: 100%;
     display:block;
     background-color: black;
    }
    
/*TOTM Grid*/
.totm {
    display: flex;
    justify-content: center;
    flex-flow:row; 
    flex-direction: row;
    height:700px;
    width: auto;
    background-color: black;
}
.totm div .productimg {
    height:200px;
    width: 300px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
 
}

.totm div.prodcontainer {
  text-align: center;
  padding: 10px 20px;
  display:flex;
  justify-content: center;
  flex-flow:row; 
  flex-direction: row;
}



/*Locations Grid*/
.locations {
  height: 500px;
  width:1200px
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*6rg04f*_ga*NjU1MDI1MTkuMTY1Mjc5MTI2NA..*_ga_3LRZM6TM9L*MTY2NDE4NDE3MS4xMzQuMS4xNjY0MTg1Mjc4LjUzLjAuMA..);
}

/*Footer*/
/*Footer text*/
/*Footer */
